.App {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-x: scroll; */
  width: 100%;
}
.ul{
  padding: 0rem;
}
.ul li{
  list-style: none;
}

.input-tag{
  margin-top: 1rem;
  padding: 1rem;
  width: 50vw;
  text-align: center;
}

#input{
  margin-top: 1rem;
  padding: 0.5rem
}

@media only screen and (max-width:500px){
  .input-tag{
    margin-top: 1rem;
    padding: 1rem;
    width: 80vw;
    text-align: center;
  }

}
